@import "../mixin/mixin";

.affiliate-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100vw;
    height: 100%;
    background-size: cover;
    margin: -10px calc(-50vw + 50%);
    z-index: -1;
    background-position: center center;
  }

  .left-line {
    margin: -10px calc(-50vw + 50%);
    position: absolute;
    top: -10rem;
    left: 0;
    width: 500px;
    height: auto;
  }
  .left-line-shadow {
    @extend .left-line;
    top: -28rem;
  }
  .right-line {
    margin: -10px calc(-50vw + 50%);
    position: absolute;
    top: -10rem;
    right: 0;
    width: 500px;
    height: auto;
  }
  .right-line-shadow {
    @extend .right-line;
    top: -6rem;
  }

  .affiliate-one {
    border-bottom: 1px solid transparent;
    border-image: url("/images/line.png") 1;
    padding-bottom: 2rem;
    position: relative;
  }

  .affiliate-info {
    @include flexbox(center, flex-start, 20px);
    flex-direction: column;
    height: 100%;

    .heading-wrapper {
      @include flexbox(flex-start, flex-start, 15px);
      flex-direction: column;

      .p2 {
        color: $link-white;
      }
    }
  }

  .affiliate-img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }

  @media (min-width: 991px) {
    padding-bottom: 0;
  }
}
