$link-white: rgba(255, 255, 255, 0.75);
$primary-dark: #0f142b;
$primary-light: #15378e;
$dark: #1c2446;
$grey: rgba(255, 255, 255, 0.16);
$gray: gray;
$grey-dark: #171d38;
$gray-light: #eff2f5;
$grey-light: #eff2f5;
$grey-lighter: #a3a3a3;
$grey-semibold: #d4d4d4;
$secondary: #074768;
$secondaryBG: rgba(79, 192, 255, 1);
$yellow: #d0ff19;
$yellowDark: rgba(250, 225, 0, 1);
$shadow: rgba(79, 193, 255, 0.432);
$card-shadow: #15254a;
$white: white;
$blue: #4094ff;
$blueLight: #4094ff;
$blue-light: #ebf3ff;
$blue-deep: #0f00bf;
$orange: rgba(222, 118, 47, 1);
$orange-light: #ffa43c;
$orange-lighter: #fff5eb;
$black: black;
$green: rgba(74, 222, 128, 1);
$green-bold: #00bf08;
$green-light: #ebffeb;
$sky: #e0edff;
$skyLight: #eef5ff;
$skyLight2: #a5cbfc;
$red: red;
$red-light: #ffebeb;
$yellow2: #ffc048;
$yellow3: #ffa808;
$yellow4: #ffaf19;
