.btnStyle {
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;

  &.disabled {
    background: #d4d4d4;
    cursor: not-allowed;
    &:hover {
      background: #d4d4d4;
    }
  }
}

.Icon_wrapper {
  display: flex;
  align-items: center;
  transition: all 0.5s linear;
}

.rounded {
  border-radius: 50px !important;
}

.small {
  padding: 5px 10px;
  font-size: 14px;
  gap: 10px;

  span {
    font-size: 12px;
  }
}

.medium {
  padding: 8px 15px;
  font-size: 16px;
  gap: 15px;

  span {
    font-size: 16px;
  }
}

.large {
  padding: 10px 20px;
  font-size: 20px;
  gap: 20px;

  span {
    font-size: 20px;
  }
}

.start {
  flex-direction: row-reverse !important;
}

.btn {
  padding: 0;
  margin: 0;
}

.icon {
  line-height: 1;

  svg {
    font-size: 1rem;
  }
}

.shadow-primary {
  box-shadow: 0px 8px 16px -8px #2484ff;
}

.primary {
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  color: $white;
  @include btn-gd;
  transition: all 1s linear;

  &:hover {
    @include btn-gd2;
    // transform: translateY(-4px) !important;
    span {
      transform: translateX(5px);
    }
  }

  &:active {
    background: linear-gradient(0deg, #0066fe, #0066fe),
      linear-gradient(180deg, #42b8fe 0%, #207cfe 100%);
  }

  span {
    font-size: 24px;
    padding: 0 0 2px 0;
  }
}

.secondary {
  @extend .primary;
  background: linear-gradient(180deg, $yellow2 0%, $yellow3 100%);
  // box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  &:hover {
    background: linear-gradient(180deg, $yellow3 0%, $yellow2 100%);
    // transform: translateY(-4px) !important;
    span {
      transform: translateX(5px);
    }
  }
}

.outlined {
  span {
    font-size: 24px;
  }
}

.btn-blur {
  background: rgba(255, 255, 255, 0.08);
  color: $white;
  border: 1px solid $gray;
  backdrop-filter: blur(8px);
}

@media screen and (max-width: 768px) {
  .outlined {
    span {
      font-size: 20px;
    }
  }

  .small {
    // padding: 5px;
    gap: 5px;
  }
}
